body {
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    background: #051920;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}

section {
    overflow: hidden !important;
}

h1 {
    color: #fff;
    font-size: 3.7em;
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 39px;
    text-align: center;
}

h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

p {
    font-size: 1.08em;
}

li {
    list-style: none;
}

/* ----------------------------- */
/* NAV BAR STYLES */
/* ----------------------------- */
.nav-btn {
    display: inline-block;
    padding: 5px;
    /* --spacing */
    position: relative;
}

.nav-btn button {
    width: 99px;
    height: 34px;
    border: none;
    background-color: #144e9d;
    /* --btn-color */
    color: #fff;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
    cursor: pointer;
}

.nav-btn .bar {
    width: 2px;
    /* --bar-thickness */
    height: 13px;
    /* --bar-height */
    position: absolute;
    background-color: #144e9d;
    /* --btn-color */
}

.nav-btn .bar::after {
    content: "";
    width: 13px;
    /* --bar-height */
    height: 2px;
    /* --bar-thickness */
    position: absolute;
    background-color: #144e9d;
    /* --btn-color */
}

.nav-btn .bar:nth-of-type(1),
.nav-btn .bar:nth-of-type(1)::after {
    top: 0;
    left: 0;
}

.nav-btn .bar:nth-of-type(2),
.nav-btn .bar:nth-of-type(2)::after {
    top: 0;
    right: 0;
}

.nav-btn .bar:nth-of-type(3),
.nav-btn .bar:nth-of-type(3):after {
    bottom: 0;
    left: 0;
}

.nav-btn .bar:nth-of-type(4),
.nav-btn .bar:nth-of-type(4)::after {
    bottom: 0;
    right: 0;
}

nav {
    background: #051920;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    box-shadow: 33px -67px 10px 71px rgba(0, 0, 0, 0.81);
}

.mob-nav {
    display: none;
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;
}


@media (max-width: 890px) {
    .desk-nav {
        display: none;
    }

    .mob-nav {
        display: block;
    }

    ul.nav-list li {
        float: none;
        margin-left: 0 !important;
        padding-bottom: 30px;
        font-size: 22px !important;
    }

    .nav-can {
        padding-top: 18px !important;
        padding-bottom: 18px !important;
        margin-right: auto;
        margin-left: auto;
    }

    .navbar-brand {
        float: none !important;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        overflow: hidden !important;
    }
}

@keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

#overlay-button {
    position: absolute;
    right: 2em;
    top: 0.7em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
}

#overlay-button span {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
}

#overlay-button span:before {
    top: -10px;
    visibility: visible;
}

#overlay-button span:after {
    top: 10px;
}

#overlay-button span:before,
#overlay-button span:after {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~#overlay {
    visibility: visible;
}

input[type=checkbox]:checked~#overlay-button:hover span,
input[type=checkbox]:checked~#overlay-button span {
    background: transparent;
}

input[type=checkbox]:checked~#overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
}

input[type=checkbox]:checked~#overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
}

#overlay {
    height: 400vh;
    width: 100vw;
    background: #051920;
    ;
    z-index: 2;
    visibility: hidden;
    position: fixed;
}

#overlay.active {
    visibility: visible;
}

#overlay ul {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-left: 0;
    list-style-type: none;
    float: none !important;
}

@media (min-width: 768px) {
    .nav-can {
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1050px) {
    .nav-can {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .nav-can {
        max-width: 1130px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1390px) {
    .nav-can {
        max-width: 1250px;
        margin-left: auto;
        margin-right: auto;
    }
}


.navbar-brand {
    float: left;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    font-weight: 500;
    color: black;
}

.nav-tog-btn {
    position: absolute;
    right: 8.67%;
    bottom: 26%;
}

ul.nav-list {
    display: block !important;
    margin: 0px;
    float: right;
}

@media (min-width: 1199px) {
    ul.nav-list {
        margin: 0px -100px 0px 0px;
    }
}

ul.nav-list:before {
    content: '';
    display: table;
    clear: both;
}

ul.nav-list li {
    float: left;
    margin-left: 1.6rem;
    font-size: 15px;
    font-weight: 300;
    line-height: 27.37px;
}

ul.nav-list li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 0px 9px 0px;
    position: relative;
}

ul.nav-list li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #144E9D;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

ul.nav-list li a:hover:after {
    width: 100%;
    left: 0;
}


.frontpage-titles {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 40px 0px;
}

.frontpage-title-edges {
    display: inline-block;
    padding: 2px 10px 2px 10px;
    /* --spacing */
    position: relative;
}

.frontpage-title-edges h2 {
    border: none;
    background-color: transparent;
    /* --btn-color */
    font: Space Grotesk;
    font-weight: 600;
    font-style: normal;
    font-size: 39px;
    margin: 0px 0px 0px 0px
}

.frontpage-title-edges .bar {
    width: 2px;
    /* --bar-thickness */
    height: 13px;
    /* --bar-height */
    position: absolute;
    background-color: #fff;
    /* --btn-color */
}

.frontpage-title-edges .bar::after {
    content: "";
    width: 13px;
    /* --bar-height */
    height: 2px;
    /* --bar-thickness */
    position: absolute;
    background-color: #fff;
    /* --btn-color */
}

.frontpage-title-edges .bar:nth-of-type(1),
.frontpage-title-edges .bar:nth-of-type(1)::after {
    top: 0;
    left: 0;
}

.frontpage-title-edges .bar:nth-of-type(2),
.frontpage-title-edges .bar:nth-of-type(2)::after {
    top: 0;
    right: 0;
}

.frontpage-title-edges .bar:nth-of-type(3),
.frontpage-title-edges .bar:nth-of-type(3):after {
    bottom: 0;
    left: 0;
}

.frontpage-title-edges .bar:nth-of-type(4),
.frontpage-title-edges .bar:nth-of-type(4)::after {
    bottom: 0;
    right: 0;
}

/*------------------------------------------
STYLES FOR TITLES WITH HIGHLIGHTED 4 CONNERS
-------------------------------------------*/
/* Change the values to set it the way you like */

.title-edges {
    display: inline-block;
    padding: 10px;
    /* --spacing */
    position: relative;
}

.title-edges h2 {
    border: none;
    background-color: transparent;
    /* --btn-color */
    font-size: 1.3em;
    font-weight: 300;
    margin: 0px 0px 0px 0px
}

.title-edges .bar {
    width: 2px;
    /* --bar-thickness */
    height: 13px;
    /* --bar-height */
    position: absolute;
    background-color: #fff;
    /* --btn-color */
}

.title-edges .bar::after {
    content: "";
    width: 13px;
    /* --bar-height */
    height: 2px;
    /* --bar-thickness */
    position: absolute;
    background-color: #fff;
    /* --btn-color */
}

.title-edges .bar:nth-of-type(1),
.title-edges .bar:nth-of-type(1)::after {
    top: 0;
    left: 0;
}

.title-edges .bar:nth-of-type(2),
.title-edges .bar:nth-of-type(2)::after {
    top: 0;
    right: 0;
}

.title-edges .bar:nth-of-type(3),
.title-edges .bar:nth-of-type(3):after {
    bottom: 0;
    left: 0;
}

.title-edges .bar:nth-of-type(4),
.title-edges .bar:nth-of-type(4)::after {
    bottom: 0;
    right: 0;
}

/*---------------------------------------------
STYLES FOR BLUE BUTTON WITH HIGHLIGHTED CONNERS
----------------------------------------------*/
/* Change the values to set it the way you like */
.btn-tmm {
    padding-top: 42px;
}

.blue-btn {
    display: inline-block;
    padding: 12px;
    /* --spacing */
    position: relative;
}

.blue-btn button {
    width: 190px;
    height: 56px;
    border: none;
    background-color: #144e9d;
    /* --btn-color */
    color: #fff;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
    cursor: pointer;
}

.blue-btn .bar {
    width: 4px;
    /* --bar-thickness */
    height: 30px;
    /* --bar-height */
    position: absolute;
    background-color: #144e9d;
    /* --btn-color */
}

.blue-btn .bar::after {
    content: "";
    width: 30px;
    /* --bar-height */
    height: 4px;
    /* --bar-thickness */
    position: absolute;
    background-color: #144e9d;
    /* --btn-color */
}

.blue-btn .bar:nth-of-type(1),
.blue-btn .bar:nth-of-type(1)::after {
    top: 0;
    left: 0;
}

.blue-btn .bar:nth-of-type(2),
.blue-btn .bar:nth-of-type(2)::after {
    top: 0;
    right: 0;
}

.blue-btn .bar:nth-of-type(3),
.blue-btn .bar:nth-of-type(3):after {
    bottom: 0;
    left: 0;
}

.blue-btn .bar:nth-of-type(4),
.blue-btn .bar:nth-of-type(4)::after {
    bottom: 0;
    right: 0;
}


/* -------------------
    WELCOME SECTION
---------------------*/
.welcome-section {
    background-image: linear-gradient(rgba(5, 25, 32, 0.82), rgba(5, 25, 32, 0.82)), url(/img/header-bg.jpg);
    background-size: cover;
}

@media screen and (max-width: 384px) {
    .welcome-section {
        padding: 0px 15px 200px 15px;
    }
}

@media screen and (min-width: 384px) {
    .welcome-section {
        padding: 0px 35px 200px 35px;
    }
}

@media screen and (min-width: 600px) {
    .welcome-section {
        padding: 0px 60px 200px 60px;
    }
}

@media screen and (min-width: 872px) {
    .welcome-section {
        padding: 0px 100px 200px 100px;
    }
}

.head-soc {
    z-index: 1;
    position: absolute;
    top: 47%;
    left: 4%;
}

.header-social-ico {
    padding-top: 70%;
    width: 100%;
}

.header-text {
    padding-top: 200px;
    text-align: center;
}

.welcome-txt {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
}

.jv-header-txt {
    font-family: 'The Quiz Script';
    font-weight: 400;
    margin-top: -30px;
    font-style: normal;
}

@media screen and (max-width: 600px) {
    .welcome-txt {
        font-size: 3em;
        margin-bottom: 80px;
    }

    .jv-header-txt {
        font-size: 6.2em;
        line-height: 85px;
    }
}

@media screen and (min-width: 600px) {
    .welcome-txt {
        font-size: 3.5em;
        margin-bottom: 50px;
    }

    .jv-header-txt {
        font-size: 8.5em;
        line-height: 150px;
    }
}

@media screen and (min-width: 800px) {
    .welcome-txt {
        font-size: 5em;
        margin-bottom: 30px;
    }

    .jv-header-txt {
        font-size: 11em;
        line-height: 170px;
        margin-bottom: 40px;
    }
}

/*--------------------------
    SERVICES SECTION
----------------------------*/
.services-section {
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
    background-image: linear-gradient(rgba(5, 25, 32, 0.82), rgba(5, 25, 32, 0.82)), url(/img/service-bg-img.png);
    background-size: cover;
}

.h2-ele {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 81px;
    height: 81px;
    background: rgba(20, 78, 157, 0.5);
    margin-bottom: 55px;
}

.services-section .h2-ele h2 {
    position: absolute;
    bottom: -30%;
    right: -109%;
}

.services-p {
    margin-bottom: 60px;
}

@media screen and (max-width: 400px) {
    .services-p {
        padding: 0px 15px 0px 15px;
    }

    .services-details {
        padding: 0px 10px 0px 10px;
    }

    .ser-txt-pad {
        padding: 0px 20px 0px 20px;
    }
}

@media screen and (min-width: 400px) {
    .services-p {
        padding: 0px 15px 0px 15px;
    }

    .services-details {
        padding: 0px 10px 0px 10px;
    }

    .ser-txt-pad {
        padding: 0px 30px 0px 30px;
    }
}

@media screen and (min-width: 992px) {
    .services-p {
        padding: 0px 140px 0px 140px;
    }

    .services-details {
        padding: 0px 50px 0px 50px;
    }

    .ser-txt-pad {
        padding: 0px 25px 0px 25px;
    }
}

@media screen and (min-width: 1370px) {
    .services-p {
        padding: 0px 280px 0px 280px;
    }

    .services-details {
        padding: 0px 100px 0px 100px;
    }

    .ser-txt-pad {
        padding: 0px 60px 0px 60px;
    }
}

.services-d-text img {
    margin-bottom: 30px;
}

.services-d-text h3 {
    margin-bottom: 15px;
}

/*--------------------------- 
    F PROJECTS SECTION
----------------------------*/
.f-projects {
    padding-bottom: 110px;
}

.h2-ele1 {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 60px 0 0 0;
    margin-bottom: 55px;
}

.box {
    position: absolute;
    width: 81px;
    z-index: -2;
    height: 81px;
    background: rgba(20, 78, 157, 0.5);
    margin: 0 282px 24px 0;
    bottom: 0;
}

@media screen and (max-width: 500px) {
    .fp-row1 {
        padding: 0px 15px 15px 15px;
    }

    .fp-row2 {
        padding: 0px 15px 0px 15px;
    }
}

@media screen and (min-width: 500px) {
    .fp-row1 {
        padding: 0px 50px 0px 50px;
    }

    .fp-row2 {
        padding: 0px 50px 0px 50px;
    }
}

@media screen and (min-width: 999px) {
    .fp-row1 {
        padding: 0px 120px 15px 120px;
    }

    .fp-row2 {
        padding: 0px 120px 0px 120px;
    }
}

.f-project-box {
    overflow: hidden;
    margin-bottom: 5px;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.f-project-box img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: block;
    opacity: 1;
    backface-visibility: hidden;
}

.c-row {
    padding: 0px;
    padding-bottom: 15px;
}

.tmm-foot {
    padding-top: 60px;
    text-align: center;
}


/** 
font-family: 'The Quiz Script';
font-weight: 400;
font-style: normal;

font-family: 'Space Grotesk', sans-serif;

shift alt F
**/


/*--------------------
    PRICING PAGE
----------------------*/

/* section for affordable plans title*/
.a-plans-section {
    padding-top: 8em;
    text-align: center;
}

.h2-ele2 {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 60px 0 0 0;
    margin-bottom: 10px;
}

.box1 {
    position: absolute;
    width: 81px;
    z-index: -2;
    height: 81px;
    background: rgba(20, 78, 157, 0.5);
    margin: 0 535px 24px 0;
    bottom: 0;
}

/* section for the portraits */
.portraits-section {
    margin-bottom: 160px;
}

.portrait-title,
.gallery-title {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 40px 0px;
}

.gallery {
    padding-top: 5em;
    padding: 7em 0em 1em 0em;
}

@media screen and (max-width: 500px) {
    .portrait-row {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 500px) {
    .portrait-row {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 999px) {
    .portrait-row {
        padding-left: 120px;
        padding-right: 120px;
    }
}

.price-box {
    overflow: hidden;
    margin-bottom: 30px;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: 0.4s ease-out;
    background: rgb(20, 78, 157);
    /* Fallback color */
    background: rgba(20, 78, 157, 0.8);
    /* Black background with 0.5 opacity */
    border-radius: 5px;
}

.price-box img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.9s;
    display: block;
    transform: scale(1.0);
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.price-box:hover img {
    opacity: 0.3;
}

.price-box:hover .info {
    opacity: 1;
}

.price-box .info {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.info-list {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 60px;
}

.info-list p {
    font-size: 0.9em;
    line-height: 0.9em;
}


/*----Button Design for Price Box-----*/
.price-btn {
    position: absolute;
}

.bbttn {
    display: inline-block;
    position: relative;
}

.bbttn button {
    border: none;
    background-color: #fff;
    /* --btn-color */
    cursor: pointer;
}

.bbttn button:hover {
    background-color: lightblue;
}

.bar {
    position: absolute;
    background-color: #fff;
    /* --btn-color */
}

.bar::after {
    content: "";
    position: absolute;
    background-color: #fff;
    /* --btn-color */
}

.bar:nth-of-type(1),
.bar:nth-of-type(1)::after {
    top: 0;
    left: 0;
}

.bar:nth-of-type(2),
.bar:nth-of-type(2)::after {
    top: 0;
    right: 0;
}

.bar:nth-of-type(3),
.bar:nth-of-type(3):after {
    bottom: 0;
    left: 0;
}

.bar:nth-of-type(4),
.bar:nth-of-type(4)::after {
    bottom: 0;
    right: 0;
}

@media screen and (min-width: 200px) {
    .info-list {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 40px;
        padding: 15px 0px 0px 0px;
    }

    .info-list p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 0.9em;
        line-height: 0.9em;
        margin: 0px 0px 10px 0px
    }

    .price-btn {
        left: 30px;
        right: 30px;
        bottom: 20px;
    }

    .bbttn {
        padding: 6px;
        /* --spacing */
    }

    .bbttn button {
        width: 80px;
        /* --btn-width */
        height: 25px;
        /* --btn-height */
        font-size: 0.8em;
    }

    .bar {
        width: 2px;
        /* --bar-thickness */
        height: 13px;
        /* --bar-height */
    }

    .bar::after {
        width: 10px;
        /* --bar-height */
        height: 2px;
        /* --bar-thickness */
    }
}

@media screen and (min-width: 320px) {
    .info-list {
        top: 35px;
        left: 15px;
        right: 15px;
        bottom: 40px;
        padding: 15px 0px 0px 0px;
    }

    .info-list p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 1em;
        line-height: 1em;
        margin: 0px 0px 10px 0px
    }

    .price-btn {
        left: 30px;
        right: 30px;
        bottom: 20px;
    }

    .bbttn {
        padding: 6px;
        /* --spacing */
    }

    .bbttn button {
        width: 80px;
        /* --btn-width */
        height: 25px;
        /* --btn-height */
        font-size: 0.8em;
    }

    .bar {
        width: 2px;
        /* --bar-thickness */
        height: 13px;
        /* --bar-height */
    }

    .bar::after {
        width: 10px;
        /* --bar-height */
        height: 2px;
        /* --bar-thickness */
    }
}

@media screen and (min-width: 410px) {
    .info-list {
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 100px;
        padding: 15px 0px 0px 0px;
    }

    .info-list p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 1.0em;
        line-height: 1.4em;
        margin: 0px 0px 12px 0px
    }

    .price-btn {
        left: 30px;
        right: 30px;
        bottom: 35px;
    }

    .bbttn {
        padding: 6px;
        /* --spacing */
    }

    .bbttn button {
        width: 100px;
        /* --btn-width */
        height: 35px;
        /* --btn-height */
        font-size: 1.0em;
    }

    .bar {
        width: 2px;
        /* --bar-thickness */
        height: 13px;
        /* --bar-height */
    }

    .bar::after {
        width: 10px;
        /* --bar-height */
        height: 2px;
        /* --bar-thickness */
    }
}

@media screen and (min-width: 768px) {
    .info-list {
        top: 70px;
        left: 40px;
        right: 40px;
        bottom: 100px;
        padding: 65px 0px 65px 0px;
    }

    .info-list p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 1.3em;
        line-height: 1.7em;
        margin: 0px 0px 12px 0px
    }

    .price-btn {
        left: 30px;
        right: 30px;
        bottom: 50px;
    }

    .bbttn {
        padding: 6px;
        /* --spacing */
    }

    .bbttn button {
        width: 100px;
        /* --btn-width */
        height: 45px;
        /* --btn-height */
        font-size: 1.0em;
    }

    .bar {
        width: 2px;
        /* --bar-thickness */
        height: 13px;
        /* --bar-height */
    }

    .bar::after {
        width: 10px;
        /* --bar-height */
        height: 2px;
        /* --bar-thickness */
    }
}

@media screen and (min-width: 992px) {
    .info-list {
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 60px;
        padding: 0px 0px 0px 0px;
    }

    .info-list p {
        font-size: 0.9em;
        line-height: 0.7em;
    }

    .price-btn {
        left: 30px;
        right: 30px;
        bottom: 15px;
    }

    .bbttn {
        padding: 6px;
        /* --spacing */
    }

    .bbttn button {
        width: 70px;
        /* --btn-width */
        height: 25px;
        /* --btn-height */
        font-size: 0.7em;
        line-height: 1em;
    }

    .bar {
        width: 2px;
        /* --bar-thickness */
        height: 13px;
        /* --bar-height */
    }

    .bar::after {
        width: 10px;
        /* --bar-height */
        height: 2px;
        /* --bar-thickness */
    }
}

@media screen and (min-width: 1200px) {
    .info-list {
        top: 40px;
        left: 20px;
        right: 20px;
        bottom: 60px;
    }

    .info-list p {
        font-size: 0.9em;
        line-height: 0.9em;
    }

    .price-btn {
        left: 30px;
        right: 30px;
        bottom: 15px;
    }

    .bbttn {
        padding: 6px;
        /* --spacing */
    }

    .bbttn button {
        width: 95px;
        /* --btn-width */
        height: 28px;
        /* --btn-height */
    }

    .bar {
        width: 2px;
        /* --bar-thickness */
        height: 13px;
        /* --bar-height */
    }

    .bar::after {
        width: 13px;
        /* --bar-height */
        height: 2px;
        /* --bar-thickness */
    }
}

@media screen and (min-width: 1400px) {
    .info-list {
        top: 40px;
        left: 20px;
        right: 20px;
        bottom: 60px;
    }

    .info-list p {
        font-size: 1.2em;
        line-height: 0.9em;
    }

    .price-btn {
        left: 30px;
        right: 30px;
        bottom: 40px;
    }

    .bbttn {
        padding: 6px;
        /* --spacing */
    }

    .bbttn button {
        width: 99px;
        /* --btn-width */
        height: 32px;
        /* --btn-height */
        font-size: 1em;
    }

    .bar {
        width: 2px;
        /* --bar-thickness */
        height: 13px;
        /* --bar-height */
    }

    .bar::after {
        width: 13px;
        /* --bar-height */
        height: 2px;
        /* --bar-thickness */
    }
}



/*--------------------------
STYLES FOR THE GALLERY PAGE
----------------------------*/
.can {
    width: 1067px;
    height: 100%;
    padding: 0px;
}

.height {
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.height1 {
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.height2 {
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.height3 {
    width: 100%;
    margin: 0px 0px 10px 0px;
}

[class*="gallery-img-"] {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

[class*="gallery-img-"] img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.9s;
    display: block;
    transform: scale(1.0);
}

[class*="gallery-img-"] img:hover {
    transform: scale(1.1);
    opacity: 0.80;
}

.gap {
    width: 1.08%;
    padding: 0px
}

[class*="in-gallery-img-"] {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

[class*="in-gallery-img-"] img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.9s;
    display: block;
    transform: scale(1.0);
}

[class*="in-gallery-img-"] img:hover {
    transform: scale(1.1);
    opacity: 0.80;
}

.in-gallery-img-1 {
    height: 54.15%;
}

.in-gallery-img-2 {
    height: 43.49%;
}

.gap2 {
    width: 100%;
    height: 2.36%;
    padding: 0px
}

@media (min-width: 576px) {
    .height {
        height: 255px;
    }

    .height1 {
        height: 255px;
    }

    .height2 {
        height: 255px;
    }

    .height3 {
        height: 255px;
    }

    .gallery-img-1 {
        width: 37.39%;
    }

    .gallery-img-2 {
        width: 61.53%;
    }

    .gallery-img-3 {
        width: 29.42%;
    }

    .gallery-img-4 {
        width: 37.30%;
    }

    .gallery-img-5 {
        width: 31.12%;
    }

    .gallery-img-6 {
        width: 22.30%;
    }

    .gallery-img-7 {
        width: 27.08%;
    }

    .gallery-img-8 {
        width: 48.45%;
    }

    .gallery-img-9 {
        width: 31.11%;
    }

    .gallery-img-10 {
        width: 67.81%;
    }
}

@media (min-width: 768px) {
    .height {
        height: 432px;
    }

    .height1 {
        height: 469px;
    }

    .height2 {
        height: 388px;
    }

    .height3 {
        height: 494px;
    }
}

@media (min-width: 342px) {
    .can {
        max-width: 320px;
    }
}

@media (min-width: 576px) {
    .can {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .can {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .can {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .can {
        max-width: 1140px;
    }
}

.gallery-bottom {
    margin-bottom: 70px;
}

.gallery-bottom .tmm-foot h3 {
    font: Space Grotesk;
    font-weight: 400;
    font-style: normal;
    font-size: 63px;
}

/*------------------------
    SYLES FOR THE FOOTER
--------------------------*/
footer {
    background-color: #144E9D;
}

footer::after {
    content: "";
    clear: both;
    display: table;
}

footer .column1,
footer .column2,
footer .column3 {
    float: left;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: 70px;
}

@media screen and (min-width: 870px) {
    footer {
        height: 305px;
    }

    footer .column1,
    footer .column2,
    footer .column3 {
        width: 33.33%
    }
}

footer .column1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.footer-logo-txt {
    text-align: center;
    font-family: 'The Quiz Script';
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    margin: 20px 0px 0px 0px;
}

footer .column1 p {
    font: Space Grotesk;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 13.4px;
    margin: 15px 0px 0px 0px;
}

footer .column2 h2 {
    font: Space Grotesk;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28.8px;
    margin: 0px 0px 20px 0px;
}

footer .column2 p {
    font: Space Grotesk;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 21.6px;
    margin: 0px 35px 15px 35px;
}

footer .column2 form {
    margin: 0;
}

footer .column2 input[type="text"] {
    background: rgba(232, 236, 235, 0.99);
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 0px 0 0 0px;
    width: 60%;
    height: 43px;
    transition: all 200ms ease-in-out;
}

.send-btn {
    display: inline-block;
    padding: 4px;
    /*var(--spacing); */
    position: relative;
    margin-left: 5px;
}

.send-btn button {
    width: 90px;
    /*var(--btn-width); */
    height: 36px;
    /*var(--btn-height); */
    border: none;
    background-color: #051920;
    /*var(--btn-color)*/
    cursor: pointer;
    font: Space Grotesk;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    line-height: 15.6px;
    color: #fff;
}

.send-btn button:hover {
    background-color: #082732;
}

.send-btn .bar {
    width: 2px;
    /* var(--bar-thikness); */
    height: 14px;
    /* var(--bar-height); */
    position: absolute;
    background-color: #051920;
    /*var(--btn-color)*/
}

.send-btn .bar::after {
    content: "";
    width: 14px;
    /* var(--bar-height); */
    height: 2px;
    /* var(--bar-thikness); */
    position: absolute;
    background-color: #051920;
    /*var(--btn-color)*/
}

.send-btn .bar:nth-of-type(1),
.send-btn .bar:nth-of-type(1)::after {
    top: 0;
    left: 0;
}

.send-btn .bar:nth-of-type(2),
.send-btn .bar:nth-of-type(2)::after {
    top: 0;
    right: 0;
}

.send-btn .bar:nth-of-type(3),
.send-btn .bar:nth-of-type(3):after {
    bottom: 0;
    left: 0;
}

.send-btn .bar:nth-of-type(4),
.send-btn .bar:nth-of-type(4)::after {
    bottom: 0;
    right: 0;
}


footer .column3 p {
    font: Space Grotesk;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28.8px;
    margin: 0px 0px 20px 0px;
}

.socials {
    margin-bottom: 10px;
}

.socials a {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 10px;
}

.socials a:hover {
    border-radius: 4px;
}

.socials a img {
    color: #e7f2f4;
    font-size: 17px;
}

footer .bottom {
    float: left;
    width: 100%;
    height: 15%;
    display: block;
    text-align: center;
    background-color: #144E9D;
}

footer .bottom p {
    font: Space Grotesk;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 13.5%;
}